@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* to remove the eye icon */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@theme {
  --color-brand: #a5c78e;
  --color-brand-light: #b5d39e;
  --color-brand-dark: #95b77e;

  /* Secondary Colors */
  --color-primary: #99a1af;
  --color-secondary: #6a7282;

  /* System Colors */
  --color-error: #fc0000;
  --color-text: #000000;
  --color-background: #f8faf7;
}

/* --color-brand: #bcdea5;
  --color-brand-light: #bcdea5;
  --color-brand-dark: #bcdea5;

  --color-primary: #99a1af;
  --color-secondary: #6a7282;

  --color-error: #fc0000;

  --color-text: #000000;
  --color-background: #f8faf7;
} */

@layer components;

.form {
  @apply grid grid-cols-2 p-6 pb-10 border-1 rounded-2xl border-primary gap-3 bg-white shadow-xl min-w-[430px] min-h-[300px];
}

.title {
  @apply text-brand text-2xl text-center font-bold;
}

.input {
  @apply border-b-1 border-primary focus:outline-none focus:border-brand;
}

.inputError {
  @apply border-error;

  &:focus {
    @apply border-error;
  }
}

.eyeBtn {
  @apply absolute focus:outline-none right-2 cursor-pointer text-secondary;
}

.errorMessage {
  @apply text-error text-xs min-h-4 font-semibold;
}

.btn {
  @apply bg-brand cursor-pointer text-background font-semibold py-2 block rounded-lg text-xl hover:bg-brand-light transform transition hover:-translate-y-0.5 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-brand active:bg-brand-dark;
}

.answer {
  @apply w-full border-1 border-brand rounded-4xl px-5 py-4 cursor-pointer transition transform hover:translate-x-2 hover:bg-brand;
}

.activeAnswer {
  @apply translate-x-2 bg-brand;
}

.markedQuestion {
  @apply px-3.5 py-1.5 border-1 border-brand rounded-lg cursor-pointer flex justify-between items-center;
}

.trashIcon {
  @apply hover:bg-gray-200 p-2 rounded-full;
}

.sideBarQuestion {
  @apply flex items-center gap-2 text-gray-700 lg:px-2 lg:py-1 rounded-lg transition lg:hover:bg-gray-300 cursor-pointer;
}

.activeSideBarQuestion {
  @apply lg:bg-gray-300;
}

@layer utilities;

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #ce0800;
  border: 7px solid;
  box-sizing: border-box;
  border-radius: 50%;
  background:
    radial-gradient(circle 3px, #000 95%, #0000),
    linear-gradient(180deg, #000 50%, #0000 0) center/3px 70%,
    linear-gradient(90deg, #000 50%, #0000 0) center/50% 3px;
  background-repeat: no-repeat;
  position: relative;
  animation: l9 1s infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 20px 20px 0 0;
  inset: -20px calc(50% - 10px);
  transform: rotate(40deg);
  background:
    linear-gradient(currentColor 0 0) top /100% 10px,
    linear-gradient(currentColor 0 0) bottom/3px 10px;
  background-repeat: no-repeat;
}

.loader::after {
  transform: rotate(-40deg);
}

@keyframes l9 {

  0%,
  70%,
  100% {
    transform: translateY(0) rotate(0)
  }

  75%,
  85%,
  95% {
    transform: translateY(-3px) rotate(10deg)
  }

  80%,
  90% {
    transform: translateY(-3px) rotate(-10deg)
  }
}

.timer {
  --bar-width: 20px;
  --box-shadow: 2px 2px 2px rgba(0, 0, 0, 20%);

  background-image: conic-gradient(var(--color-brand) 0deg,
      var(--color-brand) var(--angle),
      var(--color-primary) var(--angle));

  box-shadow: inset var(--box-shadow);
  transition: all;
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;

  &::after {
    content: "";
    background: #f3f4f6;
    /* gray-100 */
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1/1;

    display: grid;
  }
}

.circle {
  --circle-diameter: 20px;

  width: var(--circle-diameter);
  height: var(--circle-diameter);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #99a1af;
  padding: 3px;
}

.activeSideBarQuestion>.circle {
  border: 3px solid #99a1af;
}

.answered {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-brand);
}